@charset "UTF-8";

/* Configurações gerais */

span#burguer {
    display: none;
}

header nav {
    display: block;
}

header nav ul {
    text-align: left;
}

header nav li {
    display: inline-block;
}

header nav li a {
    border-top-width: 0px;
}

main {
    width: 700px;
}